#ex1{
    /* images are stacked on top of each other in the order of their declaration */
    background-image: url(media_css/flower.gif), url(media_css/paper.gif);
    background-position: right bottom, top left;
    background-repeat: no-repeat, repeat;
    padding: 15px;
    height: 250px;
}

.div1{
    border: 1px solid black;
    height: 120px;
    width: 150px;
    background-image: url(media_css/flower.gif);
    background-repeat: no-repeat;
    background-size: contain;
}
.div2{
    border: 1px solid black;
    height: 120px;
    width: 150px;
    background-image: url(media_css/flower.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.div3{
    border: 1px solid black;
    height: 120px;
    width: 150px;
    background-image: url(media_css/flower.gif);
    background-repeat: no-repeat;
}