body{
    margin: 0;
}

.hero-img{
    background-image: url(media_css/lamborghini.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 610px;
    position: relative;
}

.hero-text{
    position: absolute;
    text-align: center;
    font-size: x-large;
    color: yellow;
    /* these 3 rules are required to center text on an image in css */
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1, h3{
    text-shadow: 3px 3px darkslategray;
}