body{
    margin: 0;
}

.hero-img{
    /* In a background property you can add background-color, repeat, no-repeat and other image attributes,
    but in the background-image property you are only allowed to add image. */
    background: url(media_css/lamborghini.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 610px;
    position: relative;
}

.hero-text{
    position: absolute;
    text-align: center;
    font-size: x-large;
    color: yellow;
    /* these 3 rules are required to center text on an image in css */
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1, h3{
    text-shadow: 3px 3px darkslategray;
}

.content-box{
    background: url(media_css/flower.gif) no-repeat;
    background-origin: content-box; /*  the bg image starts from the upper left corner of the content */
    border: 3px solid black;
    padding: 35px;
    font-size: large;
    height: 180px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}