body{
    margin: 0;
    font-size: large;
}

div{
    height: 200px;
    width: 100%;
}

.lg1{
    /* background: linear-gradient(red, yellow); */
    background: linear-gradient(180deg, red, yellow);
}

.lg2{
    /* background: linear-gradient(to right, #00f, #ff0); */
    background: linear-gradient(90deg, #00f, #ff0);
}

.lg3{
    background: linear-gradient(to top right, #0f0, #f0f);
}

.lg4{
    background: linear-gradient(35deg, cyan, hotpink);
}

.rainbow{
    background: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}

.fading{
    background: linear-gradient(to right, rgba(255,0,0,1), rgba(255,0,0,0.5))
}

.repeating{
    background: repeating-linear-gradient(to right, red, yellow 5%, green 10%);
}