.redSquare{
    width: 200px;
    height: 200px;
    background-color: red;
    transition: width 1.5s, height 2s;
    /* transition-delay: 1s; */
    transition-timing-function: ease-out;
}

.redSquare:hover{
    width: 400px;
    height: 400px;
}

.cubic-bezier{
    margin-top: 10px;
    width: 200px;
    height: 200px;
    background-color: blue;
    transition: width 1.5s, height 2s;
    transition-timing-function: cubic-bezier(0,1,0.5,1);
    /* learnt cubic-bezier from freecodecamp */
}

.cubic-bezier:hover{
    width: 400px;
    height: 400px;
}